In [12]:
import pandas as pd

In [13]:
df = pd.read_csv('data.csv') # read csv file

In [14]:
df #show rows and columns

        Time  ACCX  ACCY  ACCZ  GYRX  GYRY  GYRZ
0      0.000  0.00 -1.50  0.75    47   -47   -16
1      0.002  0.00 -1.50  0.75    31   -47   -31
2      0.004  0.00 -1.50  0.75    31   -47   -31
3      0.006  0.12 -1.38  0.75    16   -31   -31
4      0.008  0.12 -1.38  0.75    16   -31   -31
...      ...   ...   ...   ...   ...   ...   ...
3115  49.932  0.25 -1.25  1.12    63   -78    78
3116  49.934  0.12 -1.12  1.12    47   -63    78
3117  49.936  0.00 -1.00  1.00    31   -47    78
3118  49.938 -0.12 -1.00  0.88    31   -47    94
3119  49.940 -0.25 -0.88  0.88    16   -31    94

[3120 rows x 7 columns]

In [15]:
df.shape

(3120, 7)

In [16]:
df.head(5) #show the first 5 rows

    Time  ACCX  ACCY  ACCZ  GYRX  GYRY  GYRZ
0  0.000  0.00 -1.50  0.75    47   -47   -16
1  0.002  0.00 -1.50  0.75    31   -47   -31
2  0.004  0.00 -1.50  0.75    31   -47   -31
3  0.006  0.12 -1.38  0.75    16   -31   -31
4  0.008  0.12 -1.38  0.75    16   -31   -31

In [17]:
User1LeftTurn = df.ACCX[df.ACCX > 0].count() #number of times the head turns left (positive number x value)
print(User1LeftTurn)

2371

In [18]:
User1RightTurn = df.ACCX[df.ACCX < 0].count() #number of times the head turns right (negative number x value)
print(User1RightTurn)

658

In [20]:
df['ACCX'].describe() #Descriptive statistics of X axis LEFT To RIGHT

count    3120.000000
mean        0.776109
std         2.163942
min       -12.880000
25%         0.120000
50%         0.750000
75%         1.500000
max        15.880000
Name: ACCX, dtype: float64

In [19]:
User1HeadUp = df.ACCY[df.ACCY < 0].count() #number of times the head goes up (negative number y axis)
print(User1HeadUp)

1848

In [21]:
df['ACCY'].describe() #Descriptive statistics of Y axis UP To DOWN

count    3120.000000
mean       -0.274596
std         1.713502
min       -14.380000
25%        -0.880000
50%        -0.250000
75%         0.380000
max         9.880000
Name: ACCY, dtype: float64

In [22]:
df['ACCZ'].describe() #Descriptive statistics of the Z axis FORWARD To BACK

count    3120.000000
mean        0.232516
std         1.935888
min       -16.000000
25%        -0.250000
50%         0.380000
75%         1.000000
max        15.880000
Name: ACCZ, dtype: float64

In [24]:
User1HeadBackward = df.ACCZ[df.ACCZ < 0].count() #number of the times the head goes backwards
print(User1HeadBackward)

1001